<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Home</title>
</head>
<body>

<!-- Hero banner section containing navigation bar and centered content -->
<section class="hero-banner">

    <!-- Navigation bar -->
    <nav>
        <a href="/">Home</a>
        <a href="#about">About</a>
        <a href="#technology">Technology</a>
        <a href="#team">Team</a>
        <a href="#">Extension</a>
    </nav>

    <section class="centered-content">
        <div style="margin-top: 80px;">
            <h1 style="font-size: 40px;">
                <span style="background-image: linear-gradient(to right, #FF3BFF, #ECBFBF, #5C24FF, #D94FD5); color: transparent; background-size: auto auto; background-clip: text;">
                    Optical Character
                </span><br> 
                Recognition
            </h1>
            <p>Our technology converts the image into a text document with its contents <br> stored as text data.</p>
        </div>
        <button class="button_1"><a href="/project">Project</a></button>
        <img src="/static/images/BackGround.png" alt="" class="home__img" />
    </section>
    

</section>

<!-- About section -->
<section class="about" id="about">
    <div class="about-box">About</div>
    <div style="text-align: left; width: 70%;">
        <h4>Why we are building it?</h4>
        <h1 style="font-size: 40px;">The pressing need to digitize and preserve the national language of Bhutan</h2>
        <p>We are motivated to bridge this gap and empower the Dzongkha-speaking community by enabling the recognition of 
            handwritten Dzongkha text through an efficient and accurate OCR system.</p>
    </div>
</section>

<!-- Technology section -->
<section class="technology" id="technology" style="background-color: #010314; background-image: url(/static/images/Tech\ Used.png); background-position: center; background-size: contain;">
    <div class="technology-content"style="background-color: #010314;">
        <h1 style="font-size: 40px; background-color: #010314;">Technology Used</h1>
        <p style="background-color: #010314;">In Convolutional Neural Network (CNN) it is used image recognition and processing tasks. <br>
            In Recurrent Neural Network(RNN) the output from the previous step is fed as input to the current step.</p>
    </div>
    <div class="technology-image" style="background-color: #010314;">
        <img src="/static/images/Tech.png" style="height: auto; width: 300px; background-color: #010314;">
    </div>
</section>


<!-- Team section -->
<section class="about" id="team">
    <div class="about-box">Team</div>
    <div class="team-box">
        <div class="team-member">
            <img src="/static/images/Kinchap.png" alt="">
            <h3>Kinchap Legden</h3>
            <p>Software Developer (Frontend) & Data Scientist.</p>
        </div>
        <div class="team-member">
            <img src="/static/images/Chimi.png" alt="">
            <h3>Chimi Gyeltshen Dorji</h3>
            <p>Software Developer (Backend).</p>
        </div>
        <div class="team-member">
            <img src="/static/images/Phurba.png" alt="">
            <h3>Phurba Dorji Tamang</h3>
            <p>Data Engineer & Database Administrator.</p>
        </div>
        <div class="team-member">
            <img src="/static/images/Chencho.png" alt="">
            <h3>Chencho Wangdi</h3>
            <p>Machine Learning Engineer.</p>
        </div>
        <div class="team-member">
            <img src="/static/images/Jampel.png" alt="">
            <h3>Jampel Namdag Dorji</h3>
            <p>Project Manager.</p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <p>&copy; 2024 Your Website Name. All Rights Reserved.</p>
</footer>

<!-- Script for smooth scrolling -->
<script src="/static/js/script.js"></script>

</body>
</html>
